.home1{
    /* width: 100%;
    height: 100%; */
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
}
.sale{
    justify-content: center;
    font-size: 150px;
    font: bold;
    font-style: oblique;
}
.home11{
    /* border: 2px solid blue; */
    /* width: 50%; */
    width: 700px;
    height: 500px;
    height: auto;
    margin-left: 10px;
}
/* img {
    width: 500px;
    height: 500px;
} */
.home13{
    margin-top: 20px;
}
.home131{
    margin-top: 20px;
    font-size: 10px;
}
.fashion1{
margin-left: 300px;
}
.home12{
    /* border: 2px solid rgb(26, 208, 35); */
    /* width: 50%; */
    width: 100%;
    height: 700px;
    margin-left: 30px;
}
.shopmens{
    width: 100%;
    height: auto;
}
.fashion{
    font-size: 15px;
    margin-left: -620px;
}
.home131{
    font-size: 26px;
    margin-top:-20px;
    margin-left:15px;
}
.home131:hover{
    color: rgb(41, 48, 46);
}
.home132{
    font-size: 17px;
    font: 100;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.home132:hover{
    color: blueviolet;
}
.fashion1{
     font-size: 15px;
    margin-left: -650px;
}
.home21{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
}
.home212{
   margin-left: -350px;
   font: 100;
   font-size: 18px;
}
.home213{
margin-top: -40px;
margin-left: -10px;
font-size: 17px;
font-weight: 300px;
color: black;
}
.home214{
margin-top: -5px;
/* margin-left: -130px; */
font-size: 15px;
}
.home31{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
}
.home331{
    margin-left: -600px;

}
.home212{
    margin-left: 30px;
}
.home341{
    margin-left: -400px;
    margin-top: -35px;
}
.home213{
    margin-left: -100px;
}
.home331{
    margin-top: 140px;
}
.home334{
    margin-left: -350px;
    margin-top:20px;
    /* border: 1px solid black; */
    
}
.home342{
    margin-top:-35px;
    margin-left: -300px;
    color: azure;
}
.home3341{
    margin-left: -400px;
    margin-top: 20px;
}
.home10{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    padding: 1%;
    margin-left: 40px;
}
.home08{
    display: flex;
    margin-left: 50px;
}
.home07{
    margin-top: 90px;
    margin-left: -100px;
}
.home454{
    margin-top:80px;
    margin-left: -140px;
}
.home091{
    font-size: 17px;
    font-weight: 200px;
    margin-left: -170px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.home091:hover{
    flood-color: blue;
}
.home5{
    display: flex;
    /* grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto; */
     width: 110%;

}
.home6{
    display: flex;
    margin-left: 100px;
   
    

}
.home05{
    display: flex;
}
.home03{
    margin-left:60px;
}
.hom01111{
    margin-left: 50px;
}
.homepop{
    margin-top: 100px;
}
.home3111{
    font-size: 13px;
    font-weight: 200;
    color: black;
    margin-top: 0px;
}
.home90{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
}
.home91{
    display: flex;
}
.home92{
    margin-top: 10px;
    margin-left: 120px;
}
.home93{
    margin-left: 20px;
}
.home21:hover{
    box-shadow: rgba(50, 188, 77, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.home94{
    margin-left: -220px;
    /* border: 2px solid black; */
    border-radius: 0.5rem;
    width: 200px;
    height: 30px;
    text-align: center;
    color: black;
}
.home200{
    font-size: 100px;
    font-style: inherit;
   color: rgb(57, 51, 51);
    font-weight: 400;
}
.home2002:hover{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    color: rgb(57, 51, 51);
    box-shadow: rgba(218, 115, 115, 0.35) 0px 5px 15px;
}
.home213{
    margin-top: 10px;
}
.home214{
    margin-top: 10px;
    margin-left: 140px;
    
}
.home200,.home2002{
    margin-left: 100px;
}
.sale:hover{
    color: blue;
}
