.email{
    margin-left: -100px;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.password
.btn:hover{
    color: red;
    font-weight: 500;
    
    font-stretch: expanded;
    background-color: rgb(28, 29, 28);
    border-radius: 10px;
}